@font-face {
  font-family: 'sequoia-icons';
  src:
    url('fonts/sequoia-icons.woff2?qvgo9q') format('woff2'),
    url('fonts/sequoia-icons.ttf?qvgo9q') format('truetype'),
    url('fonts/sequoia-icons.woff?qvgo9q') format('woff'),
    url('fonts/sequoia-icons.svg?qvgo9q#sequoia-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="seq-"], [class*=" seq-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sequoia-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.seq-check-circle:before {
  content: "\e9cc";
}
.seq-eye-slashed:before {
  content: "\e9cd";
}
.seq-flu:before {
  content: "\e9ce";
}
.seq-fullscreen:before {
  content: "\e9cf";
}
.seq-id-card-variant:before {
  content: "\e9d0";
}
.seq-lens:before {
  content: "\e9d1";
}
.seq-merit-letter:before {
  content: "\e9d2";
}
.seq-pin:before {
  content: "\e9d3";
}
.seq-sync:before {
  content: "\e9d4";
}
.seq-right_align:before {
  content: "\e9ca";
}
.seq-justify_align:before {
  content: "\e9c9";
}
.seq-left_align:before {
  content: "\e9c7";
}
.seq-center_align:before {
  content: "\e9c8";
}
.seq-Articles:before {
  content: "\e9c6";
}
.seq-Monitor:before {
  content: "\e9c5";
}
.seq-Mobile:before {
  content: "\e9c4";
}
.seq-seq-joblevelling:before {
  content: "\e9c3";
}
.seq-seq-package:before {
  content: "\e9c2";
}
.seq-copy:before {
  content: "\e9c0";
}
.seq-codeblock:before {
  content: "\e9be";
}
.seq-Pay-Ranges:before {
  content: "\e9bf";
}
.seq-Feedback:before {
  content: "\e9bd";
}
.seq-thumb:before {
  content: "\e9d5";
}
.seq-thumb-filled:before {
  content: "\e9d6";
}
.seq-icon_hamburger:before {
  content: "\e902";
}
.seq-id-card:before {
  content: "\e908";
}
.seq-LTD:before {
  content: "\e95e";
}
.seq-STD:before {
  content: "\e988";
}
.seq-acupuncture:before {
  content: "\e905";
}
.seq-add-column:before {
  content: "\e907";
}
.seq-add-image:before {
  content: "\e909";
}
.seq-add-location:before {
  content: "\e90c";
}
.seq-add-row:before {
  content: "\e90e";
}
.seq-alert-circle:before {
  content: "\e90f";
}
.seq-angle-down:before {
  content: "\e911";
}
.seq-angle-left:before {
  content: "\e910";
}
.seq-angle-right:before {
  content: "\e94a";
}
.seq-angle-up:before {
  content: "\e914";
}
.seq-caret-up:before {
  content: "\e9b8";
}
.seq-caret-down:before {
  content: "\e9b9";
}
.seq-apps:before {
  content: "\e916";
}
.seq-arrow-down:before {
  content: "\e99b";
}
.seq-arrow-left:before {
  content: "\e912";
}
.seq-arrow-right:before {
  content: "\e913";
}
.seq-arrow-up:before {
  content: "\e984";
}
.seq-attachment:before {
  content: "\e97c";
}
.seq-bank:before {
  content: "\e917";
}
.seq-bars:before {
  content: "\e919";
}
.seq-billing:before {
  content: "\e91b";
}
.seq-binary-tree:before {
  content: "\e9b1";
}
.seq-blowhorn:before {
  content: "\e91c";
}
.seq-book:before {
  content: "\e947";
}
.seq-book-open:before {
  content: "\e993";
}
.seq-bookmark:before {
  content: "\e97e";
}
.seq-bookmark-filled:before {
  content: "\e98c";
}
.seq-briefcase:before {
  content: "\e999";
}
.seq-broadcast:before {
  content: "\e9ad";
}
.seq-building:before {
  content: "\e9bb";
}
.seq-bus:before {
  content: "\e9bc";
}
.seq-calculator:before {
  content: "\e96a";
}
.seq-calendar:before {
  content: "\e960";
}
.seq-call:before {
  content: "\e91d";
}
.seq-car:before {
  content: "\e927";
}
.seq-card:before {
  content: "\e989";
}
.seq-care:before {
  content: "\e996";
}
.seq-cart:before {
  content: "\e973";
}
.seq-chair:before {
  content: "\e9a6";
}
.seq-chat:before {
  content: "\e926";
}
.seq-check:before {
  content: "\e91f";
}
.seq-checkbox:before {
  content: "\e952";
}
.seq-checklist:before {
  content: "\e949";
}
.seq-childcare:before {
  content: "\e920";
}
.seq-clock:before {
  content: "\e98a";
}
.seq-close:before {
  content: "\e922";
}
.seq-cloud-upload:before {
  content: "\e935";
}
.seq-code:before {
  content: "\e955";
}
.seq-colour-palatte:before {
  content: "\e99d";
}
.seq-comment:before {
  content: "\e923";
}
.seq-comment-square:before {
  content: "\e924";
}
.seq-comment-square-variant:before {
  content: "\e925";
}
.seq-compliance:before {
  content: "\e929";
}
.seq-covid:before {
  content: "\e99f";
}
.seq-dashboard:before {
  content: "\e92b";
}
.seq-delete:before {
  content: "\e92c";
}
.seq-delete-column:before {
  content: "\e92d";
}
.seq-delete-row:before {
  content: "\e92e";
}
.seq-dental:before {
  content: "\e92f";
}
.seq-dental-braces:before {
  content: "\e964";
}
.seq-dental-service:before {
  content: "\e930";
}
.seq-document:before {
  content: "\e933";
}
.seq-document-code:before {
  content: "\e979";
}
.seq-document-sheet:before {
  content: "\e974";
}
.seq-document-variant:before {
  content: "\e976";
}
.seq-download:before {
  content: "\e934";
}
.seq-edit:before {
  content: "\e936";
}
.seq-ellipsis-h:before {
  content: "\e978";
}
.seq-ellipsis-v:before {
  content: "\e9a3";
}
.seq-email:before {
  content: "\e937";
}
.seq-emergency-care:before {
  content: "\e938";
}
.seq-emotion-neutral:before {
  content: "\e9af";
}
.seq-emotion-satisfied:before {
  content: "\e980";
}
.seq-emotion-unhappy:before {
  content: "\e970";
}
.seq-equity:before {
  content: "\e975";
}
.seq-events:before {
  content: "\e961";
}
.seq-eye:before {
  content: "\e995";
}
.seq-face-id:before {
  content: "\e940";
}
.seq-facebook:before {
  content: "\e93f";
}
.seq-feather:before {
  content: "\e957";
}
.seq-file:before {
  content: "\e942";
}
.seq-file-billing:before {
  content: "\e91a";
}
.seq-file-contracts:before {
  content: "\e99a";
}
.seq-file-image:before {
  content: "\e97b";
}
.seq-file-pdf:before {
  content: "\e97d";
}
.seq-file-upload:before {
  content: "\e990";
}
.seq-file-video:before {
  content: "\e97f";
}
.seq-files:before {
  content: "\e971";
}
.seq-filter:before {
  content: "\e943";
}
.seq-flag:before {
  content: "\e90d";
}
.seq-folder:before {
  content: "\e977";
}
.seq-frames:before {
  content: "\e944";
}
.seq-globe:before {
  content: "\e946";
}
.seq-gps:before {
  content: "\e9ac";
}
.seq-graduation:before {
  content: "\e98e";
}
.seq-gym:before {
  content: "\e94b";
}
.seq-h1:before {
  content: "\e903";
}
.seq-h2:before {
  content: "\e904";
}
.seq-hamburger-menu:before {
  content: "\e94c";
}
.seq-healthcare:before {
  content: "\e94d";
}
.seq-help:before {
  content: "\e94f";
}
.seq-help-variant:before {
  content: "\e94e";
}
.seq-holiday:before {
  content: "\e950";
}
.seq-home:before {
  content: "\e96e";
}
.seq-home-variant:before {
  content: "\e97a";
}
.seq-hospital:before {
  content: "\e951";
}
.seq-credit-card:before {
  content: "\e90a";
}
.seq-info:before {
  content: "\e9a5";
}
.seq-info-circle:before {
  content: "\e953";
}
.seq-instagram:before {
  content: "\e9a7";
}
.seq-languages:before {
  content: "\e956";
}
.seq-layers:before {
  content: "\e985";
}
.seq-layout:before {
  content: "\e963";
}
.seq-like:before {
  content: "\e959";
}
.seq-like-filled:before {
  content: "\e958";
}
.seq-link:before {
  content: "\e95a";
}
.seq-linkedin:before {
  content: "\e95b";
}
.seq-list:before {
  content: "\e932";
}
.seq-location:before {
  content: "\e95c";
}
.seq-lock:before {
  content: "\e95d";
}
.seq-map:before {
  content: "\e9a8";
}
.seq-meal:before {
  content: "\e95f";
}
.seq-mental-health:before {
  content: "\e9a4";
}
.seq-minus:before {
  content: "\e962";
}
.seq-money:before {
  content: "\e98b";
}
.seq-money-add:before {
  content: "\e906";
}
.seq-new-tab:before {
  content: "\e93e";
}
.seq-notification:before {
  content: "\e96f";
}
.seq-package:before {
  content: "\e9ab";
}
.seq-paw:before {
  content: "\e966";
}
.seq-payroll:before {
  content: "\e965";
}
.seq-pharmacy:before {
  content: "\e967";
}
.seq-phone:before {
  content: "\e968";
}
.seq-plane:before {
  content: "\e98d";
}
.seq-plus:before {
  content: "\e969";
}
.seq-private:before {
  content: "\e9aa";
}
.seq-push-notification:before {
  content: "\e96b";
}
.seq-q-a:before {
  content: "\e941";
}
.seq-qr-code:before {
  content: "\e96c";
}
.seq-query:before {
  content: "\e99c";
}
.seq-reset:before {
  content: "\e972";
}
.seq-retirement:before {
  content: "\e98f";
}
.seq-ribbon:before {
  content: "\e93b";
}
.seq-risk:before {
  content: "\e982";
}
.seq-screen:before {
  content: "\e928";
}
.seq-send:before {
  content: "\e9b0";
}
.seq-setting:before {
  content: "\e9a0";
}
.seq-share:before {
  content: "\e986";
}
.seq-shield:before {
  content: "\e945";
}
.seq-shopping-bag:before {
  content: "\e987";
}
.seq-spine:before {
  content: "\e921";
}
.seq-stats:before {
  content: "\e954";
}
.seq-stats-variant:before {
  content: "\e918";
}
.seq-switch:before {
  content: "\e9ae";
}
.seq-table:before {
  content: "\e90b";
}
.seq-tag:before {
  content: "\e93a";
}
.seq-temperature:before {
  content: "\e96d";
}
.seq-test-tube:before {
  content: "\e92a";
}
.seq-textbox:before {
  content: "\e981";
}
.seq-tree-horizontal:before {
  content: "\e9b2";
}
.seq-tree-vertical:before {
  content: "\e9b3";
}
.seq-twitter:before {
  content: "\e9a1";
}
.seq-urgent-care:before {
  content: "\e991";
}
.seq-user:before {
  content: "\e939";
}
.seq-user-add:before {
  content: "\e915";
}
.seq-user-add-variant:before {
  content: "\e91e";
}
.seq-user-check:before {
  content: "\e931";
}
.seq-user-group:before {
  content: "\e948";
}
.seq-cohort:before {
  content: "\e948";
}
.seq-user-pay:before {
  content: "\e99e";
}
.seq-user-remove:before {
  content: "\e93d";
}
.seq-users:before {
  content: "\e93c";
}
.seq-users-variant:before {
  content: "\e992";
}
.seq-vaccination:before {
  content: "\e994";
}
.seq-video:before {
  content: "\e997";
}
.seq-video-call:before {
  content: "\e998";
}
.seq-warning:before {
  content: "\e9a9";
}
.seq-wellbeing:before {
  content: "\e9a2";
}
.seq-wifi:before {
  content: "\e9b4";
}
.seq-write:before {
  content: "\e9b5";
}
.seq-search:before {
  content: "\e983";
}
.seq-zoom-in:before {
  content: "\e9b6";
}
.seq-zoom-out:before {
  content: "\e9b7";
}
.seq-tuner:before {
  content: "\e9ba";
}
.seq-stretch:before {
  content: "\e9c1";
}
.seq-gift:before {
  content: "\e901";
}
.seq-number-list:before {
  content: "\e900";
}
.seq-log-out:before {
  content: "\e9cb";
}
